{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - HariKang</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Hello Nice to meet you!</h1>
    </header>
    <main>
        <section id="profile">
            <img src="{% static 'profile.jpg' %}" alt="HariKang's Profile Picture" width="200px">
            <h2>HariKang</h2>
            <p>Hi, I'm HariKang! </p>
            <p>안녕하세요, 저는 강하리입니다:> </p>
            <p>I love sweet and salty.</p>
            <p>맵고 짠거 좋아합니다!</p>
        </section>
        <section id="family">
            <h3>Family Members</h3>
            <ul>
                <li><strong>Father</strong>, 아빠 곰은 뚱뚱해</li>
                <li><strong>Mother</strong>, 엄마 곰은 날씬해</li>
                <li><strong>Brother</strong>, 애기 곰은 너무 귀여워</li>
            </ul>
        </section>
        <section id="experience">
            <h3>Experience</h3>
            <ul>
                <li><strong>점심에 파스타 먹음</strong> at 익선동, 2024</li>
                <li><strong>저녁에 육회 먹을거임</strong> at 율전동, 2024</li>
            </ul>
        </section>

        <section id="contact">
            <h3>Contact</h3>
            <p>Email: hariver1220@yonsei.ac.kr</p>
            <p>github: <a href="https://github.com/harikang" target="_blank">github.com/harikang</a></p>
            <p>blog: <a href="https://blog.naver.com/hariver1220" target="_blank">blog.naver.com/hariver1220</a></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 HariKang. All rights reserved.</p>
    </footer>
</body>
</html>
